@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
nav{
    background-color: rgb(50, 16, 81);
    color:white;
    padding:2px;
    font-family: "Roboto", sans-serif;
}

*{
    margin:0;
    padding:0;
}

.container{
    display:flex;
    justify-content: space-around;
    padding:10px;
}

.box-container{
    padding:10px;
    display:grid;
    grid-template-rows:repeat(3,20vh);
    grid-template-columns:repeat(3,20vh);
}

.box{
    border:2px black solid;
    display:flex;
    justify-content: center;
    align-items: center;
}

.box-text{
    font-size: 16vh;
     font-family: "Roboto", sans-serif;
}

.box:hover{
   background-color: rgb(226, 248, 221);
    
}

.game-info div {
    padding-top: 5px;
    color:rgb(133, 127, 127);
    font-size: 0.6em;
}

.game-info button{
    margin-left: 15px;
    padding: 5px 15px;
    background-color: rgb(226, 248, 221);
    border-radius: 10px;
}

.bl-0{
    border-left:0;
}

.br-0{
    border-right:0;
}

.bt-0{
    border-top:0;
}

.bb-0{
    border-bottom:0;
}
.bunny{
  padding-top:25px;
  width:20vw;
  display: none;
}